.main-container {
  height: 65vh;
}

.game-container {
  /* ()00vh-30vh) * 2*/
  height: 140vh;
}

.graph-cash-container,
.graph-etc-container {
  margin-bottom: 5%;
}

.question-number {
  font-size: 1rem;
}

.question-image {
  max-height: 220px;
}

.options-container > Button {
  font-size: 13px;
  height: 70%;
  padding-top: 0%;
  padding-bottom: 0%;
  width: 90%;
}

.options-container > .submit-button {
  width: 65%;
}

.quiz-container,
.graph-container {
  height: 60%;
}

.graph-container {
  grid-auto-rows: max(32vh);
}

@media screen and (min-width: 375px) {
  .quiz-container,
  .graph-container {
    height: 90%;
  }
  .options-container > Button {
    font-size: 16px;
    height: 70%;
  }
  .question-image {
    max-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .main-container,
  .game-container {
    height: 65vh;
    overflow: hidden;
  }

  .quiz-container,
  .graph-container {
    height: 85%;
  }
  .options-container > Button {
    font-size: 2vw;
    overflow-wrap: break-word;
    /* font-size: 16px; */
    height: 100%;
  }
  .question-image {
    max-height: 200px;
  }
}

@media screen and (min-height: 1100px) {
  .quiz-container,
  .graph-container {
    height: 100%;
  }

  .graph-container {
    grid-auto-rows: max(42vh);
  }

  .question-image {
    max-height: 340px;
  }

  .options-container > Button {
    font-size: 20px;
    height: 80%;
  }

  .question-number {
    font-size: 1.25rem;
  }
  .main-container,
  .game-container {
    height: 85vh;
  }
}

@media screen and (min-height: 1500px) {
  .main-container {
    font-size: 24px;
  }

  .question-image {
    max-height: 470px;
  }

  .options-container > Button {
    font-size: 24px;
    height: 85%;
  }

  .question-number {
    font-size: 1.75rem;
  }
}

img {
  width: auto;
  height: 100%;
}
